.main__container{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}
.rides__header{
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.slider__controller > i{
    cursor: pointer;
    font-size: larger;
    z-index: 20;
}

.slider__controller > i:hover{
    transform: scale(1.4);
}

.header{
    margin-bottom: 10px;
}
.rides__container{
    height: 90vh;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow-x:scroll;
}

.rides__card{
    height: 400px;
    width: 250px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    margin-right: 15px;
    transform: 0.5s;
}

.rides__image{
    height: 330px;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
    background-repeat: no-repeat;
    object-fit: cover;
}

.rides__description{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 6px;
}

.rides__explore{
    border: none;
    outline: none;
    font-size: larger;
    font-weight: bolder;
    width: 80px;
    height: 35px;
    border-radius: 6px;
    cursor: pointer;
    background: rgba(20,79,86);
    color: white;
}

.rides__explore:hover{
    background: rgba(20,79,86,0.8);
}

@media(max-width:600px){
    .para{
        line-break: auto;
        margin-left: 5%;
    }
}